.hero {
  margin-top: 0.25rem;
  height: 70vh;
  background-position: center 42%;

  /* Medium screens (tablet) */
  @media (min-width: 800px) {
    height: 60vh;
  }

  /* Large screens (desktop) */
  @media (min-width: 1024px) {
    height: 78vh;
  }

  @media (orientation: portrait) {
    height: 60vh;
  }

  /* Mobile landscape */
  @media (max-width: 799px) and (orientation: landscape) {
    height: 90vh; /* taller for phone landscape */
    p {
      font-size: 2.3rem;
    }
  }

  /* Extra-wide screens */
  @media (min-width: 1600px) {
    height: 80vh;
  }
}
