.hero {
  margin-top: 0.25rem; /* mt-1 equivalent */
  height: 70vh; /* default for mobile */

  /* Medium screens (tablet) */
  @media (min-width: 800px) {
    height: 60vh;
  }

  /* Large screens (desktop) */
  @media (min-width: 1024px) {
    height: 84vh;
  }

  @media (orientation: portrait) {
    height: 60vh;
  }
}
