@import "tailwindcss";
@plugin "daisyui";

/* * {
  border: 1px solid red;
} */

:root {
  --background-main: #ffffff;
  --background-muted: #f2f2f2;
  --background-accent: #bf9255;
  --background-dark: #202641;

  --text-on-light: #333333;
  --text-on-dark: #ffffff;
  --text-accent: #bf9255;
  --text-muted: #666666;
  --text-light: #878888;

  --font-size-hero: clamp(2.4rem, 6vw + 1.2rem, 4.8rem);
  --font-size-heading: clamp(1.8rem, 3.6vw + 0.6rem, 3rem);
  --font-size-subheading: clamp(1.5rem, 2.5vw + 0.3rem, 1.75rem);
  --font-size-subsubheading: clamp(1.44rem, 3.15vw + 0.525rem, 1.485rem);
  --font-size-button: clamp(0.825rem, calc(1.65vw + 0.20625rem), 0.9375rem);
  --font-size-link: clamp(0.81rem, 1.35vw + 0.225rem, 1.0125rem);
  --font-size-text: clamp(0.9rem, 1.5vw + 0.25rem, 1.125rem);
  --font-size-subtext: clamp(0.976rem, 1.46vw + 0.242rem, 0.976rem);

  --font-weight-hero: 500;
  --font-weight-heading: 400;
  --font-weight-subheading: 400;
  --font-weight-subsubheading: 400;
  --font-weight-button: 400;
  --font-weight-link: 400;
  --font-weight-text: 200;
  --font-weight-subtext: 300;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.035em;
  color: black;
  background-color: var(--background-main);
}

.hero-text {
  font-size: var(--font-size-hero);
  font-weight: var(--font-weight-hero);
}

.heading-text {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-heading);
}

.subheading-text {
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-subheading);
}

.subsubheading-text {
  font-size: var(--font-size-subsubheading);
  font-weight: var(--font-weight-subsubheading);
}

.button-text {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
}

.link-text {
  font-size: var(--font-size-link);
  font-weight: var(--font-weight-link);
}

.text {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-text);
}

.sub-text {
  font-size: var(--font-size-subtext);
  font-weight: var(--font-weight-subtext);
}

.text-color-light {
  color: var(--text-light);
}

.text-color-accent {
  color: var(--text-accent);
}

.background-main {
  background-color: var(--background-main);
}

.background-accent {
  background-color: var(--background-accent);
}

.background-muted {
  background-color: var(--background-muted);
}

.background-dark {
  background-color: var(--background-dark);
}

.btn.accent {
  border: 3px solid var(--background-accent);
  border-radius: 2px;
  background-color: var(--background-accent);
  color: var(--text-on-dark);
  transition: background-color 0.2s ease, transform 0.3s ease;
}

.btn.accent:hover {
  background-color: var(--background-dark);
  transform: translateY(-5px);
  color: var(--text-accent);
}

.btn.accent:active {
  background-color: var(--background-dark);
  transform: translateY(0);
}

.btn.accent {
  border: 3px solid var(--background-accent);
  border-radius: 2px;
  color: var(--text-accent);
  background-color: var(--background-dark);
  transition: background-color 0.2s ease, transform 0.3s ease;
}

.btn.accent:hover {
  background-color: var(--background-accent);
  color: var(--text-on-dark);
  transform: translateY(-5px);
}

.btn.accent:active {
  background-color: var(--background-dark);
  transform: translateY(0);
}

.margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 1024px) {
  .margin {
    margin-left: clamp(2vw, 5vw, 10vw);
    margin-right: clamp(2vw, 5vw, 10vw);
  }
}

.border {
  position: relative;
  overflow: hidden;
  border: none;
}

.border::before,
.border::after,
.border span.top,
.border span.right,
.border span.bottom,
.border span.left {
  content: "";
  position: absolute;
  background-color: var(--background-accent);
  transition: all 0.3s ease;
}

/* Top border */
.border span.top {
  top: 0;
  left: 0;
  height: 1px;
  width: 0;
}

/* Right border */
.border span.right {
  top: 0;
  right: 0;
  width: 1px;
  height: 0;
  transition-delay: 0.3s;
}

/* Bottom border */
.border span.bottom {
  bottom: 0;
  right: 0;
  height: 1px;
  width: 0;
  transition-delay: 0.6s;
}

/* Left border */
.border span.left {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 0;
  transition-delay: 0.9s;
}

/* Hover animations */
.border:hover span.top {
  width: 100%;
}
.border:hover span.right {
  height: 100%;
}
.border:hover span.bottom {
  width: 100%;
}
.border:hover span.left {
  height: 100%;
}

.underline {
  position: relative;
  width: 3rem;
  height: 3px;
  background-color: var(--background-accent);
}

.underline::after {
  content: "";
  position: absolute;
  left: 100%; /* start just after the line */
  margin-left: 3px; /* small gap between line and square */
  top: 0;
  width: 3px; /* same as line height */
  height: 3px; /* same as line height */
  background-color: var(--background-accent);
}

details > summary::-webkit-details-marker {
  display: none; /* Chrome, Safari, Edge */
}

details > summary::marker {
  content: none; /* Firefox */
}

/* * {
  border: 1px solid red;
} */
